<div class="container">
    <div class="row">
        <div class="formatacao-conteudo-pagina formatacao-pagina-publications">
            <h3>Publications</h3>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur pariatur et deleniti delectus accusamus ipsa itaque! Alias, quis accusamus corrupti fugiat, ipsa deserunt temporibus, ad consequatur dignissimos voluptatibus minus velit.
            </p>
        </div>
    </div>    
</div>
