<div class="container">
    <div class="formatacao-conteudo-pagina formatacao-pagina-atlas">
        <div class="row">
            <div class="col-md-12">
                <h3>Atlas</h3>
                <hr>

                <p>
                    Descrever o que essa pagina fornece de informação. adipisicing elit. Aspernatur pariatur et deleniti
                    delectus accusamus ipsa itaque! Alias, quis accusamus corrupti fugiat, ipsa deserunt temporibus, ad
                    consequatur dignissimos voluptatibus minus velit.
                </p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2 margem_personalizada">
                <div class="menu_selecao">
                    <h5>Navigation Links</h5>
                    <ul class="navbar-nav">
                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Section 1</a>
                        </li>
                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_02">Section 2</a>
                        </li>
                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>

                        <li class="">
                            <a class="link-personalizado" href="atlas#secao_01">Link de acesso B</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8 col-md-9 col-lg-10">

                <!-- --------------------------------Seção 1-------------------------------- -->
                <h3 id="secao_01">
                    1 - Descrição dos elementos epiteliais e não epiteliais contidos em esfregaço convencional do
                    Exame de Papanicolaou
                </h3>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus totam nobis officiis fugiat qui
                    voluptas quas? Ipsa cum laudantium, molestiae itaque repellendus incidunt saepe architecto pariatur
                    sed quibusdam consectetur aliquid!
                </p>

                <h4> 1.1 - Descrição dos elementos epiteliais do colo do útero </h4>
                <h5> 1.1.1 - Sem atipias </h5>
                <p>
                    <span class="titulo"> Epitélio Escamoso </span>
                </p>
                <p>
                    O epitélio escamoso do colo uterino é formado por várias camadas de células, sendo as basais,
                    parabasais, intermediárias e superficiais:
                </p>

                <figure>
                    <img src="./assets/img/pagina_atlas/esfregaco_papanicolaou.png" alt="esfregaco_papanicolaou"
                        class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou - Células escamosas basais, parabasais, intermediárias e superficiais.
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> Célula escamosa – Basal </span>
                </p>
                <p>
                    A arquitetura histológica do epitélio escamoso do colo uterino apresenta ao fundo uma única camada
                    de células basais arredondadas com grandes núcleos grandes de coloração escura e citoplasma escasso,
                    unida à membrana basal, a qual separa o epitélio do estroma subjacente. As células basais se dividem
                    e maturam para formar as próximas camadas de células do epitélio escamoso. Então, as outras camadas
                    representam apenas diferentes estágios na maturação das células basais. Célula basal apresenta
                    núcleo e relação núcleo/citoplasmática maiores que as células parabasais. Elas são redondas ou
                    ovais, com citoplasma escasso corando intensamente em verde ou azul. Os seus núcleos são redondos,
                    de localização central, com cromatina uniformemente distribuída, às vezes com um pequeno nucléolo.
                    Essas células descamam isoladamente ou representando pequenos agrupamentos. Em termos gerais, da
                    camada basal à superficial, essas células sofrem um aumento de tamanho e redução do tamanho nuclear.
                    As células basais raramente são vistas nos esfregaços, exceto em casos de atrofia intensa ou
                    ulceração da mucosa. Caracterizada como célula jovem do epitélio escamoso uterino.
                </p>

                <br>
                <p>
                    <span class="titulo"> Célula escamosa - Parabasal </span>
                </p>
                <p>
                    Este tipo celular exibe núcleo redondo ou oval, um pouco menor em relação ao das células basais e
                    contém grânulos de cromatina ou cromocentros, a relação núcleo/citoplasmática é maior do que nas
                    células intermediárias ou superficiais e a textura citoplasmática é mais granular e densa. O
                    citoplasma é geralmente basofílico (cianofílico), com uma tonalidade menos intensa que aquela vista
                    nas células basais. Geralmente não estão presentes em espécimes de um epitélio hormonalmente maduro,
                    pois são derivados de camadas celulares profundas que não são tipicamente amostradas em amostras de
                    citologia cervical de mulheres na pré-menopausa. A maturação do epitélio escamoso do colo uterino
                    depende do estrógeno, o hormônio feminino. Se há falta de estrógeno, não há maturação completa nem
                    glicogenação. Portanto, depois da menopausa, as células maturam só até a camada parabasal e não se
                    dispõem em múltiplas camadas de células planas. Assim, na ausência de estimulação hormonal, este
                    tipo de célula compreende camadas de um epitélio fino e atrófico. Células parabasais podem
                    predominar na pós-menopausa e pós-parto. Caracterizada como célula jovem do epitélio escamoso
                    uterino.
                </p>

                <br>
                <p>
                    <span class="titulo"> Célula escamosa - Intermediária </span>
                </p>
                <p>
                    Geralmente presente na camada intermediária do epitélio escamoso cervical. As células intermediárias
                    são as células mais comuns nos esfregaços no período pós-ovulatório do ciclo menstrual, durante a
                    gravidez e na menopausa precoce. O seu predomínio é relacionado à ação da progesterona ou aos
                    hormônios adrenocorticais. Elas exibem citoplasma geralmente basofílico, poligonal, com tendência a
                    pregueamento das suas bordas. O núcleo da célula intermediária é vesicular, ou seja, redondo ou
                    oval, com cromatina delicada uniformemente distribuída e cromocentros visíveis. A abundância do
                    citoplasma e o núcleo de tamanho menor diferenciam as células intermediárias das parabasais. O
                    núcleo da célula intermediária serve como referência básica de tamanho para outras células em
                    amostras de citologia cervical. As células das camadas intermediária e superficial contêm glicogênio
                    em seu citoplasma. A glicogenação das camadas intermediárias e superficiais é sinal da maturação e
                    desenvolvimento normais do epitélio escamoso. Maturação anormal ou alterada é caracterizada por uma
                    falta de produção de glicogênio. Caracterizada como célula madura do epitélio escamoso uterino.
                </p>

                <br>
                <p>
                    <span class="titulo"> Célula escamosa - Superficial </span>
                </p>
                <p>
                    Derivada da camada mais externa do epitélio escamoso cervical e geralmente vista na fase
                    proliferativa do ciclo menstrual e na presença de irritação. Elas são aproximadamente do mesmo
                    tamanho das células intermediárias, também são poligonais, porém o citoplasma é mais aplanado e
                    transparente, geralmente eosinofílico (corado em rosa), o núcleo é altamente condensado (picnótico).
                    Grânulos de cerato-hialina podem ser encontrados no citoplasma refletindo a produção de proteínas
                    queratínicas de alto peso molecular. As células das camadas intermediária e superficial contêm
                    glicogênio em seu citoplasma. A glicogenação das camadas intermediárias e superficiais é sinal da
                    maturação e desenvolvimento normais do epitélio escamoso. Maturação anormal ou alterada é
                    caracterizada por uma falta de produção de glicogênio. Desde que a completa maturação do epitélio
                    ocorre como resultado da atuação dos estrógenos, o predomínio de células escamosas maduras com
                    núcleo picnótico representa uma evidência morfológica excelente da atividade estrogênica. A
                    diferenciação entre uma célula superficial e uma intermediária se fundamenta na análise da estrutura
                    nuclear. Caracterizada como célula madura do epitélio escamoso uterino.
                </p>


                <br>
                <p>
                    <span class="titulo"> Epitélio Glandular - Células grandulares </span>
                </p>
                <p>
                    O canal endocervical é recoberto pelo epitélio colunar ou glandular. É composto por uma única camada
                    de células altas com núcleos de coloração escura, próxima à membrana basal. Por ter uma só camada de
                    células, tem uma altura menor que o epitélio escamoso estratificado do colo uterino. As células
                    endocervicais apresentam citoplasma relativamente abundante, delicado, semitransparente, que cora
                    fracamente em azul, às vezes com vacúolos. Os núcleos são redondos ou ovais, com alguma variação do
                    tamanho, cromatina finamente granular exibindo cromocentros ou nucléolo. Quando as células são
                    vistas lateralmente, assumem a forma colunar, com núcleo oval, localizado na região basal,
                    constituem os arranjos conhecidos como “fila”, ou “paliçada”. Quando as células são vistas de cima,
                    elas se agrupam em conjuntos monoestratificados, perdem a sua forma colunar e apresentam, às vezes,
                    bordas citoplasmáticas bem definidas, lembrando um “favo de mel”. No seu limite distal ou superior,
                    funde-se com o epitélio do endométrio na parte inferior do corpo uterino. No limite proximal ou
                    inferior, encontra-se com o epitélio escamoso na junção escamocolunar. Recobre uma extensão variável
                    da ectocérvix, dependendo da idade, estado reprodutivo, hormonal e de menopausa da mulher. O
                    epitélio colunar não forma uma superfície achatada no canal cervical, mas é empurrado para dentro em
                    múltiplas pregas longitudinais que se projetam na luz do canal, formando projeções papilares. Forma
                    várias invaginações na matriz do estroma cervical, resultando na formação de criptas endocervicais,
                    às vezes denominadas de glândulas endocervicais.
                </p>

                <figure>
                    <img src="./assets/img/pagina_atlas/palicada_favo_mel.png" alt="palicada_favo_mel"
                        class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou - Células glandulares em arranjos conhecidos como “paliçada” e “favo
                        de mel”.
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> Células metaplásicas </span>
                </p>
                <p>
                    A substituição fisiológica do epitélio colunar ou glandular evertido por um epitélio escamoso
                    recém-formado é denominada de metaplasia escamosa. O meio vaginal é ácido durante os anos
                    reprodutivos e gravidez. Acredita-se que a acidez desempenha uma função na metaplasia escamosa.
                    Quando as células são repetidamente destruídas pela acidez vaginal no epitélio colunar em uma área
                    de ectrópio, com o tempo elas são substituídas por um epitélio metaplásico recém-formado. A
                    irritação do epitélio colunar exposto ao meio vaginal ácido leva ao surgimento de células
                    subcolunares de reserva. Essas células proliferam, produzindo uma hiperplasia de células de reserva
                    e com o tempo formam o epitélio escamoso metaplásico. As células metaplásicas apresentam tamanho
                    variado, dependendo do seu grau de maturação. As células metaplásicas imaturas são do tamanho
                    aproximado das células escamosas parabasais. Elas podem ser redondas, ovais, triangulares,
                    estreladas ou caudadas, com citoplasma delicado ou denso, eventualmente com coloração bifásica
                    (ectoplasma/endoplasma) ou vacúolos. Os núcleos são um pouco maiores que aqueles das células
                    intermediárias, redondos ou ovais, paracentrais ou centrais, com cromatina finamente granular
                    regularmente distribuída e às vezes nucléolo. Essas células se dispõem frequentemente em
                    agrupamentos frouxos, como um “calçamento de pedras”. As células metaplásicas maduras lembram as
                    células escamosas maduras originais, porém as primeiras apresentam citoplasma levemente mais denso e
                    bordas citoplasmáticas mais arredondadas, também podem reproduzir um “calçamento de pedras”. A
                    região do colo uterino onde ocorre metaplasia escamosa é denominada de zona de transformação, e a
                    identificação desta região é de grande importância na colposcopia, visto que quase todas as
                    manifestações da carcinogênese cervical ocorrem nessa zona.
                </p>

                <figure>
                    <img src="./assets/img/pagina_atlas/celulas_metaplasicas.png" alt="celulas_metaplasicas"
                        class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou – Grupos de células Metaplásicas apresentando citoplasma denso e
                        disposição em agrupamentos frouxos remetendo um “calçamento de pedras”.
                    </figcaption>
                </figure>

                <br>
                <h5> 1.1.1 - Com atipias </h5>

                <p>
                    Smears containing atypias in squamous cells can be classified such as Low–grade squamous
                    intraepithelial lesion (LSIL), High–grade squamous intraepithelial lesions (HSIL), Invasive cervical
                    cancer (Ca invasor). Smears containing atypia in glandular cells can be classified such as
                    adenocarcinoma in situ (AIS) or invasive adenocarcinoma (cervical, endometrial or other
                    non-specific). <br><br>
                    The description and illustration of atypias in squamous cells follow.
                </p>

                <p>
                    <span class="titulo"> a) Atypical squamous cells of undetermined significance (ASC-US) </span>
                </p>
                <p>
                    This atypia occurs in mature cells of the squamous epithelium of the cervix. ASC-US refers to
                    cytological abnormalities that are qualitatively or quantitatively insufficient for a interpretation
                    Low-grade intraepithelial lesion (LSIL). The interpretation of ASC requires that the cells in
                    question demonstrate three essential features: (1) squamous differentiation, (2) increased nuclear
                    to cytoplasmic ratio, and (3) minimal nuclear changes which may include hyperchromasia, chromatin
                    clumping, irregularity, smudging, and/or multinucleation. Nuclei are approximately two and one half
                    to three times the area of the nucleus of a normal intermediate squamous cell (approximately 35 mm
                    2) or twice the size of a squamous metaplastic cell nucleus (approximately 50 μm 2). In other words,
                    there is a slightly increased ratio of the nuclear area to the cytoplasmic área. The clinical course
                    adopted in this case is the repetition of the Pap smear at 3 years for women aged up to 25 years, at
                    1 year for those aged 25-29 years and at 6 months for women over 30 years.
                </p>
                <figure>
                    <img src="./assets/img/pagina_atlas/celula_escamosa_atipica.png" alt="celula_escamosa_atipica"
                        class="img-responsive">
                    <figcaption>
                        Atypical squamous cells of undetermined significance (ASC-US).
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> Low–grade squamous intraepithelial lesion (LSIL) </span>
                </p>
                <p>
                    Abnormalities in mature cells of the squamous epithelium of the cervix. The criteria used to define
                    this cytological abnormality are: nuclear enlargement more than three times the area of normal
                    intermediate nuclei results in a low but slightly increased nuclear to cytoplasmic ratio; nuclei are
                    generally hyperchromatic but may be normochromatic; nuclei show variable size (anisonucleosis);
                    chromatin is uniformly distributed and ranges from coarsely granular to smudgy or densely opaque;
                    contour of nuclear membranes is variable ranging from smooth to very irregular with notches;
                    binucleation and multinucleation are common; nucleoli are generally absent or inconspicuous if
                    present. Non-invasive squamous abnormality is associated with human papillomavirus (HPV), which is
                    observed microscopically by means of koilocytosis or perinuclear cavitation consisting of a clear
                    and widely delineated perinuclear zone and a densely-colored peripheral border of cytoplasm is a
                    characteristic. The clinical course adopted in this case is the repetition of the Pap smear in 3
                    years for women up to 25 years and in 6 months for women from 25 years.
                </p>

                <br>
                <p>
                    <span class="titulo"> Atypical squamous cells cannot exclude an HSIL (ASC-H) </span>
                </p>
                <p>
                    Atypia affects young cells of the squamous epithelium of the uterine cervix. ASC-H refers to
                    cytological abnormalities that are qualitatively or quantitatively insufficient for a interpretation
                    High–grade squamous intraepithelial lesions (HSIL). ASC-H is a designation reserved for the minority
                    of ASC cases (expected to represent less than 10 % of all ASC interpretations) in which the
                    cytologic changes are suggestive of HSIL. The interpretation of ASC requires that the cells in
                    question demonstrate three essential features: (1) squamous differentiation, (2) increased nuclear
                    to cytoplasmic ratio, and (3) minimal nuclear changes which may include hyperchromasia, chromatin
                    clumping, irregularity, smudging, and/or multinucleation. The clinical management adopted in this
                    case is the referral for colposcopy and if there is any abnormality in the colon, the biopsy is
                    performed. If no change is observed in the cervix, a new cytology is done in 6 months.
                </p>

                <br>
                <p>
                    <span class="titulo"> High–grade squamous intraepithelial lesions (HSIL) </span>
                </p>
                <p>
                    Abnormalities in young cells of the squamous epithelium of the cervix. While overall cell size is
                    variable, in general, the cells of HSIL are smaller than those of LSIL. Higher-grade lesions often
                    contain quite small basal-type cells. Nuclear to cytoplasmic ratio is higher in HSIL compared to
                    LSIL. Nuclei are generally hyperchromatic but may be normochromatic or even hypochromatic. Chromatin
                    may be fi ne or coarsely granular and is evenly distributed. Contour of the nuclear membrane is
                    quite irregular and frequently demonstrates prominent indentations or grooves. The clinical
                    management adopted in this case is the referral for colposcopy and if there is any abnormality in
                    the colon, the biopsy is performed. If no change is observed in the cervix, a new cytology is done
                    in 3 months.
                </p>

                <br>
                <p>
                    <span class="titulo"> Invasive cervical cancer (Ca invasor) </span>
                </p>
                <p>
                    Squamous cell carcinoma is an invasive epithelial tumor composed of squamous cells of varying
                    degrees of differentiation. Some cytomorphological features that can be observed are: predominantly
                    isolated cells, marked variation in cellular size and shape, with caudate and spindle cells, nuclei
                    vary markedly in area, nuclear membranes may be irregular, and numerous dense opaque nuclei are
                    often presente, chromatin pattern is coarsely granular and distributed irregularly, macronucleoli
                    may be seen, presence of tumor diathesis. The clinical management adopted in this case is the
                    referral for colposcopy and if there is any abnormality in the colon, the biopsy is performed.
                </p>

                <h4> 1.2 - Descrição dos elementos não epiteliais do colo do útero </h4>
                <p>
                    <span class="titulo"> </span>
                </p>
                <p>

                </p>


                <!-- --------------------------------Seção 2-------------------------------- -->
                <h3 id="secao_02">
                    2 - Microbiologia Vaginal.
                </h3>

                <br>
                <p>
                    <span class="titulo"> Lactobacillus </span>
                </p>
                <p>
                    Lactobacillus vaginalis (bacilos de Döderlein) são bactérias gram-positivas facultativas,
                    anaeróbicas, em forma de bacilo, que constituem um componente importante da flora microbiana vaginal
                    fisiológica. As enzimas do micro-organismo induzem à destruição proteolítica (citólise) das células
                    epiteliais escamosas intermediárias ricas em glicogênio. Este é metabolizado com a produção de ácido
                    lático, responsável pelo pH ácido da vagina. Ocorre predomínio de lactobacilos na fase luteínica do
                    ciclo menstrual, na gravidez e no início da menopausa.
                </p>
                <figure>
                    <img src="./assets/img/pagina_atlas/lactobacilus.png" alt="lactobacilus" class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou - Lactobacillus que constituem um componente da flora microbiana
                        vaginal fisiológica.
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> Lactobacillus - Citólise </span>
                </p>
                <p>
                    Restos de citoplasma e numerosos núcleos desnudos ou nus originados de células escamosas
                    intermediárias (citólise) devido à ação dos lactobacilos que metabolizam o glicogênio
                    intracitoplasmático em ácido lático
                </p>

                <br>
                <p>
                    <span class="titulo"> Cocos e bacilos </span>
                </p>
                <p>
                    Essas bactérias se apresentam no fundo do esfregaço em forma de uma “poeira”. Caracterizada como flora vaginal mista.
                </p>

                <br>
                <p>
                    <span class="titulo"> Gardnerella vaginalis – Clue cell </span>
                </p>
                <p>
                    É um cocobacilo que tem a propriedade de aderir ao citoplasma das células superficiais e intermediárias, denominadas de células-alvo ou “Clue cell”. A Gardnerella é frequentemente associada a outras bactérias, constituindo o quadro conhecido como vaginose bacteriana. O esfregaço não contém bacilos de Döderlein e há escassez de neutrófilos.
                </p>

                <br>
                <p>
                    <span class="titulo"> Trichomonas vaginalis </span>
                </p>
                <p>
                    Um protozoário caracterizado como estruturas em formato de “pera”, redondos ou ovais. O citoplasma geralmente cora cinza-azulado e pode conter grânulos vermelho-amarronzados. O núcleo é excêntrico, semitransparente, levemente basofílico, mal definido. É importante visualizar o núcleo do parasita para diferenciá-lo principalmente de restos de citoplasma, muco, núcleos nus e neutrófilos degenerados. Os flagelos ás vezes são observados. Há alterações celulares degenerativas significativas nos esfregaços em associação com a infecção por Trichomonas vaginalis, como por exemplo halos perinucleares e pseudoeosinofilia, cariorrexe e cariólise. Além do exsudato purulento difuso, é comum o encontro de acúmulos de neutrófilos se sobrepondo às células epiteliais degeneradas conhecidos como “balas de canhão”. 
                </p>
                <figure>
                    <img src="./assets/img/pagina_atlas/trichomonas_vaginalis.png" alt="trichomonas_vaginalis" class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou – Trichomonas vaginalis com núcleo mal definido. e halos perinucleares característicos de alteração celular degenerativas.
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> Cândida  </span>
                </p>
                <p>
                    A cândida é um fungo e considerado o mais comum nas infecções do trato genital inferior. Este micro-organismo pode se associar ou não a sintomas como prurido e corrimento vaginal esbranquiçado, espesso. A Candida aparece nos esfregaços sob a forma de pseudo-hifas septadas e esporos redondos ou ovais. As pseudo-hifas muitas vezes se dispõem abaixo de conjuntos de células epiteliais e são mais facilmente visualizadas quando se altera o foco do microscópio, exteriorizando-se na extremidade mais frouxa dos agrupamentos celulares. É conveniente também examinar as margens do esfregaço, já que podem exibir um certo grau de dessecação e consequentemente resultar no aumento artefatual especialmente dos esporos, facilitando a sua identificação. Na infecção por Candida sp. habitualmente há alterações celulares degenerativas (pseudoeosinofilia, halos perinucleares e retração da borda nuclear).
                </p>
                <figure>
                    <img src="./assets/img/pagina_atlas/candida_pseudo_hifas.png" alt="candida_pseudo_hifas" class="img-responsive">
                    <figcaption>
                        Esfregaço de Papanicolaou - Candida sob a forma de pseudo-hifas septadas.
                    </figcaption>
                </figure>

                <br>
                <p>
                    <span class="titulo"> </span>
                </p>
                <p>

                </p>
            </div>

        </div>
    </div>

</div>