/* CRIC brand colour */
$cric-blue: #329fad;
$cric-red: #f04e4c;
$cric-gray: #808285;

/* Light CRIC brand colour */
$cric-light-blue: #6cd0df;
$cric-light-red: #ff8278;
$cric-light-gray: #afb1b5;

/* Dark CRIC brand colour */
$cric-dark-blue: #00707e;
$cric-dark-red: #b70b24;
$cric-dark-gray: #545658;

/* Background */
$background-white: #fafafa;
$background-shadow: #cccccc;

/* Font */
$text-black: #333333;
