<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>
<div class="container">
    <div class="row">
        <div class="formatacao-conteudo-pagina formatacao-pagina-downloads">
            <h3>Downloads</h3>
            <hr>
            <div>
                <p>
                    This page contains all the links available to download the set of information you want. To access the data source, select the download option available and click the download button. The download may take some time to begin, as the data will be prepared to be downloaded. If in doubt, contact us.
                </p>

                <p>
                    Click the button below to download de database image collection.
                </p>
            </div>            

            <div>
                <button id="botao_download" type="submit" class="btn btn-primary" (click)="solicitarDownloadImagens()">
                    Download
                </button>
            </div>
        </div>
    </div>
</div>
