.formatacao-pagina-downloads{
    margin-bottom: 0vh;
}

.btn-primary {
    background-color: #2f9fae;
    border-color: #2f9fae;
}

.btn-primary:hover {
    opacity: 0.8;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}

@media (min-width: 1400px) {
}