@import '../../../sass/variables';

header {
    margin-bottom: 1vh;

    nav {
        ul {
            li {
                span.beta {
                    color: $cric-red;
                }
            }
        }
    }
}

img.logoIndexHeader{
    max-width: 200px;
}

.nao_exibir_botao_menu{
    display: none;
}

.navbar-toggler{
    height: 40px;
    width: 54px;
}

.estilo-personalizado-menu{
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2f9fae;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus{
    color: #2f9fae !important;
    font-weight: 600;
}
