<div class="modal-content">

    <!-- Cabeçalho -->
    <div class="modal-header">
        <h5 class="modal-title">Register to join us</h5>
        <!-- fecha o modal -->
        <button type="button"
                class="close"
                data-dismiss="modal">
            <span>x</span>
        </button>
    </div>

    <!-- Conteudo -->
    <div class="modal-body">
        <div class="form-group">
            <form [formGroup]="formularioVisitante">
                <div class="form-group">

                    <label for="primeiro_nome"
                            class="activate">Fist name</label>
                    <input formControlName="primeiro_nome"
                            type="text"
                            id="primeiro_nome"
                            class="form-control"
                            placeholder="First name">

                    <div *ngIf="(!primeiro_nome.pristine && primeiro_nome.errors) || (primeiro_nome.errors && primeiro_nome.touched)">
                        <p *ngIf="primeiro_nome.errors.required">
                            Nome é obrigatório.
                        </p>
                        <p *ngIf="primeiro_nome.errors.minlength">
                            Nome deve ter no mínimo 3 caracters.
                        </p>
                        <p *ngIf="primeiro_nome.errors.pattern">
                            Não são permitidos caracteres especiais, ex:(!,.) e números neste campo.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ultimo_nome"
                            class="activate">Last name</label>
                    <input formControlName="ultimo_nome"
                            type="text"
                            id="ultimo_nome"
                            class="form-control"
                            placeholder="Last name">

                    <div *ngIf="(!ultimo_nome.pristine && ultimo_nome.errors) || (ultimo_nome.errors && ultimo_nome.touched)">
                        <p *ngIf="ultimo_nome.errors.required">
                            Ultimo nome é obrigatório.
                        </p>
                        <p *ngIf="ultimo_nome.errors.minlength">
                            Ultimo nome deve ter no mínimo 3 caracters.
                        </p>
                        <p *ngIf="ultimo_nome.errors.pattern">
                            Números não são permitidos neste campo.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email"
                            class="activate">Email</label>
                    <input formControlName="email"
                            type="email"
                            id="email"
                            class="form-control"
                            placeholder="name@email.com">

                    <div *ngIf="(!email.pristine && email.errors) || (email.errors && email.touched)">
                        <p *ngIf="email.errors.required">
                            Email é obrigatório.
                        </p>
                        <p *ngIf="email.errors.email">
                            Email inválido.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="senha"
                            class="activate">Passowrd</label>
                    <input formControlName="senha"
                            type="password"
                            id="senha"
                            class="form-control"
                            placeholder="Password">

                    <div *ngIf="(!senha.pristine && senha.errors) || (senha.errors && senha.touched)">
                        <p *ngIf="senha.errors.required">
                            Senha é obrigatório.
                        </p>
                        <p *ngIf="senha.errors.minlength">
                            Senha deve conter no mínimo 6 caracters.
                        </p>
                        <p *ngIf="senha.errors.maxLength">
                            Senha deve conter no máximo 25 caracters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pais"
                            class="activate">Country</label>
                    <input formControlName="pais"
                            type="text"
                            id="pais"
                            class="form-control"
                            placeholder="Country">

                    <div *ngIf="(!pais.pristine && pais.errors) || (pais.errors && pais.touched)">
                        <p *ngIf="pais.errors.required">
                            pais é obrigatório.
                        </p>
                        <p *ngIf="pais.errors.minlength">
                            pais deve conter no mínimo 2 caracters.
                        </p>
                        <p *ngIf="pais.errors.maxLength">
                            pais deve conter no máximo 70 caracters.
                        </p>
                        <p *ngIf="pais.errors.pattern">
                            Números não são permitidos neste campo.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="estado_regiao"
                            class="activate">State</label>
                    <input formControlName="estado_regiao"
                            type="text"
                            id="estado_regiao"
                            class="form-control"
                            placeholder="State">

                    <div *ngIf="(!estado_regiao.pristine && estado_regiao.errors) || (estado_regiao.errors && estado_regiao.touched)">
                        <p *ngIf="estado_regiao.errors.required">
                            Estado é obrigatório.
                        </p>
                        <p *ngIf="estado_regiao.errors.minlength">
                            Estado deve conter no mínimo 2 caracters.
                        </p>
                        <p *ngIf="estado_regiao.errors.maxLength">
                            Estado deve conter no máximo 70 caracters.
                        </p>
                        <p *ngIf="estado_regiao.errors.pattern">
                            Números não são permitidos neste campo.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="cidade"
                            class="activate">City</label>
                    <input formControlName="cidade"
                            type="text"
                            id="cidade"
                            class="form-control"
                            placeholder="City">

                    <div *ngIf="(!cidade.pristine && cidade.errors) || (cidade.errors && cidade.touched)">
                        <p *ngIf="cidade.errors.required">
                            Cidade é obrigatório.
                        </p>
                        <p *ngIf="cidade.errors.minlength">
                            Cidade deve conter no mínimo 2 caracters.
                        </p>
                        <p *ngIf="cidade.errors.maxLength">
                            Cidade deve conter no máximo 70 caracters.
                        </p>
                        <p *ngIf="cidade.errors.pattern">
                            Números não são permitidos neste campo.
                        </p>
                    </div>
                </div>

                <div>
                    <button type="submit"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            [disabled]="!formularioVisitante.valid"
                            (click)="solicitarCadastroVisitante()">
                        Sigin
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
