<section class="flex">
    <div id="renderiza_imagens"
            *ngFor="let imagem of paginaDeImagens"
            class="card-flex-box">
        <!--So renderiza o card se o objeto img estiver pronto evita erros NotFound no console-->
        <div id="verifica_imagem_existente"
                *ngIf="imagem"
                class="dimensionamento_ideal">
            <div class="card-body card-personalizado">
                <div class="efeito">
                    <div>
                        <a href="#"
                                (click)="detalheDeUmaImagem($event, imagem)">
                            <img class="img-responsive"
                                    [src]="imagem.caminho_imagem"
                                    alt="Image preview">
                        </a>
                    </div>
                </div>
                <div class="texto-card efeito">
                    <p class="paragrafo-personalizado">
                        {{imagem.codigo_lamina}} <br>
                        {{imagem.lesao.nome}} <br>
                        {{imagem.id_lesao}} <br>
                    </p>
                    <div>
                        <a href="#"
                                (click)="detalheDeUmaImagem($event, imagem)">
                            <p class="detalhes"
                                    *ngIf="classificationDatabase"> Classifications [{{imagem?.total_classificacoes}}] </p>
                            <p class="detalhes"
                                    *ngIf="segmentationDatabase"> Segmentations [{{imagem?.total_segmentacoes}}] </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nav aria-label="Classification navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item"
                [class.disabled]="desabilitarVoltarPagina">
            <a class="page-link"
                    href="#"
                    (click)="paginaAnterior($event)">
                Previous
            </a>
        </li>
        <li class="page-item"
                [class.disabled]="desabilitarAvancarPagina">
            <a class="page-link"
                    href="#"
                    (click)="proximaPagina($event)">
                Next
            </a>
        </li>
    </ul>
</nav>
