.card-personalizado{
    -webkit-box-shadow: 0 0 5px 2px #cccccc;
    -moz-box-shadow: 0 0 5px 2px #cccccc;
    box-shadow: 0 0 5px 2px #cccccc;
    /* width: 150px; */
}

.dimensionamento_ideal {
    width: 100%;
}

.card-personalizado > div > p {
    overflow: hidden;
}

.paragrafo-personalizado{
    font-size: 0.7rem;
    text-align: center;
}

.efeito a {
    color: #cccccc;
    font-size: 1.00rem;
    text-decoration: none;
    /* background-color: transparent; */
}

.efeito a:hover {
    color: #cccccc;
    font-size: 1.05rem;
    text-decoration: underline;    
}

.efeito a img{
    opacity: 0.88;
    transition: 0.08s ease-in
}

.efeito a:hover img{
    opacity: 1;
    box-shadow: 0 0 5px 2px #cccccc;
    transform: scale(1.02);
}

/* Flexbox Responsividade sem precisar de media query! */
.flex{
    display: flex;
    flex-wrap: wrap; /*Indica que o flex-wrap pode quebrar*/
}

.card-flex-box{
    max-width: 500px;
    display: flex;
}

.flex > div{
    flex: 1 1 500px; /* Quebra linha se nao conseguir ter 500px de largura */
    margin: 5px;
}

.card-body{
    padding: 0.25rem;
}

.img-responsive {
    width: 100%;
}

.texto-card{
    text-align: center;
    margin: 10px;
}

.detalhes{
    background-color: #2f9fae;
    border-radius: 2px;
    color: #fafafa;
    line-height: 40px;
}

.page-link {
    font-size: 0.9rem;
    padding: 0.2rem 0.50rem;
    margin-left: -1px;
    line-height: 1.0;
    color: #423c3c;
    padding-bottom: 4px;
}

.page-link:hover {
    background-color: #2f9fae;
    color: #fafafa;
}

.paginacao_customizada {
    padding-top: 1vh;
    align-items: center;
}

.desabilitarLink {
    cursor: not-allowed;
}

.botao_paginacao {
    background-color: #2f9fae;
    margin: 4px;
    height: 4vh;
}

#pagina_selecionada {
    color: #fafafa;
    background-color: #2f9fae;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

    .flex{
        display: flex;
        flex-wrap: wrap; /*Indica que o flex-wrap pode quebrar*/
    }

    .card-flex-box{
        max-width: 230px;
        display: flex;
    }
    
    .flex > div{
        flex: 1 1 230px; /* Quebra linha se nao conseguir ter 220px de largura */
        margin: 5px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .flex{
        display: flex;
        flex-wrap: wrap; /*Indica que o flex-wrap pode quebrar*/
    }

    .card-flex-box{
        max-width: 150px;
        display: flex;
    }
    
    .flex > div{
        flex: 1 1 150px; /* Quebra linha se nao conseguir ter 150px de largura */
        margin: 5px;
    }

    .paragrafo-personalizado{
        font-size: 0.7rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}