@import 'variables';

.card {
    -webkit-box-shadow: 0 0 5px 2px $background-shadow;
    -moz-box-shadow: 0 0 5px 2px $background-shadow;
    box-shadow: 0 0 5px 2px $background-shadow;
    margin: 10px 0;

    .card-img-container {
        position: relative;

        .card-img-annotation {
            position: absolute;
            bottom: 8px;
            right: 16px;

            svg {
                color: $cric-blue;
            }
        }
    }
}

dt,
dd {
    font-size: 0.9rem;
}

dt {
    float: left;

    &::after {
        content: ": ";
        white-space: pre;
    }
}

