<!-- Se atenta a mudanças no array de imagens -->
<!-- Paginacao INICIO -->
<div class="paginacao_customizada container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                        href="#"
                        [class.desabilitarLink]="desabilitarVoltarPagina"
                        (click)="paginaAnterior($event)"> Previous page </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaA > 0)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaA)"> {{contadorPaginaA}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaB > 0)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaB)"> {{contadorPaginaB}} </a>
            </li>
            <li class="page-item">
                <a id="pagina_selecionada"
                        class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorpaginaAtual)"> {{contadorpaginaAtual}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaC <= totalPaginas)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaC)"> {{contadorPaginaC}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaD <= totalPaginas)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaD)"> {{contadorPaginaD}} </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                        href="#"
                        [class.desabilitarLink]="desabilitarAvancarPagina"
                        (click)="proximaPagina($event)"> Next page </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Paginacao FIM -->

<section class="flex">
    <div id="renderiza_imagens"
            *ngFor="let imagem of paginaDeImagens"
            class="card-flex-box">
        <!--So renderiza o card se o objeto img estiver pronto evita erros NotFound no console-->
        <div id="verifica_imagem_existente"
                *ngIf="imagem"
                class="dimensionamento_ideal">
            <div class="card-body card-personalizado">
                <div class="efeito">
                    <div>
                        <a href="#"
                                (click)="detalheDeUmaImagem($event, imagem)">
                            <img class="img-responsive"
                                    [src]="imagem.caminho_imagem"
                                    alt="Image preview">
                        </a>
                    </div>
                </div>
                <div class="texto-card efeito">
                    <p class="paragrafo-personalizado">
                        {{imagem.codigo_lamina}} <br>
                        {{imagem.lesao.nome}} <br>
                        {{imagem.id_lesao}} <br>
                    </p>
                    <div>
                        <a href="#"
                                (click)="detalheDeUmaImagem($event, imagem)">
                            <p class="detalhes"
                                    *ngIf="classificationDatabase"> Classifications [{{imagem?.total_classificacoes}}] </p>
                            <p class="detalhes"
                                    *ngIf="segmentationDatabase"> Segmentations [{{imagem?.total_segmentacoes}}] </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Paginacao INICIO -->
<div class="paginacao_customizada container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                        href="#"
                        [class.desabilitarLink]="desabilitarVoltarPagina"
                        (click)="paginaAnterior($event)"> Previous page </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaA > 0)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaA)"> {{contadorPaginaA}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaB > 0)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaB)"> {{contadorPaginaB}} </a>
            </li>
            <li class="page-item">
                <a id="pagina_selecionada"
                        class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorpaginaAtual)"> {{contadorpaginaAtual}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaC <= totalPaginas)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaC)"> {{contadorPaginaC}} </a>
            </li>
            <li class="page-item"
                    *ngIf="(contadorPaginaD <= totalPaginas)">
                <a class="page-link"
                        href="#"
                        (click)="selecionarPagina($event, contadorPaginaD)"> {{contadorPaginaD}} </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                        href="#"
                        [class.desabilitarLink]="desabilitarAvancarPagina"
                        (click)="proximaPagina($event)"> Next page </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Paginacao FIM -->
