@import 'variables';

.card {
    -webkit-box-shadow: 0 0 5px 2px #cccccc;
    -moz-box-shadow: 0 0 5px 2px #cccccc;
    box-shadow: 0 0 5px 2px #cccccc;
    margin: 10px 0;
}

dt,
dd {
    font-size: 0.9rem;
}

dt {
    float: left;

    &::after {
        content: ": ";
        white-space: pre;
    }
}

