<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <a class="nav-link-footer nav-link navbar-brand" [routerLink]="['/']">
                    <img class="img-responsive logoIndexFooter" src="./assets/img/logo/logoRodape.png" alt="Logotipo - CRIC Cell Recognition For Inspection Of Cervix">
                </a>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p> <a class="nav-link-footer" [href]="linkUfop" target="_blank"> Federal University of Ouro Preto - MG, Brazil </a> </p>
                <p> <a class="nav-link-footer" [href]="linkDecom" target="_blank"> UFOP - Computing Department </a> </p>
                <p> <a class="nav-link-footer" [href]="linkEscolafarmacia" target="_blank"> UFOP - Pharmacy School </a> </p>
                <p> <a class="nav-link-footer" [href]="linkParceiroBerkeley" target="_blank"> Berkeley University of California </a> </p>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p> <a class="nav-link-footer" [routerLink]="['/erro']"> Contact us </a> </p> <!-- Rota para pagina de contato via email-->
                <p> <a class="nav-link-footer" [href]="linkFaceBook" target="_blank"> FaceBook </a> </p>
                <p> <a class="nav-link-footer" [routerLink]="['/erro']"> Link disponivel </a> </p>
                <p> <a class="nav-link-footer" [routerLink]="['/erro']"> Login as Admin </a> </p> <!-- Rota para area administrativa-->
            </div>

        </div>
    </div>
</footer>