<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <a class="nav-link-footer nav-link navbar-brand" [routerLink]="['/']">
                    <img class="img-responsive logoIndexFooter" src="./assets/img/logo/logoRodape.png" alt="Logotipo - CRIC Cell Recognition For Inspection Of Cervix">
                </a>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p class="university"> <a class="nav-link-footer" [href]="linkUFOP" target="_blank"> Federal University of Ouro Preto (UFOP) </a> </p>
                <p class="university"> <a class="nav-link-footer" [href]="linkUFC" target="_blank"> Federal University of Ceará (UFC) </a> </p>
                <p class="university"> <a class="nav-link-footer" [href]="linkUC_BERKELEY" target="_blank"> Berkeley University of California </a> </p>
            </div>

            <div class="col-sm-3 col-md-4 col-lg-4">
                <p> <a class="nav-link-footer" [routerLink]="['/about']"> About us </a> </p>
                <p> <a class="nav-link-footer" [routerLink]="['/about']" fragment="cite-us"> Cite us </a> </p> 
                <p>
                  <a class="nav-link-footer" [routerLink]="['/license']">
                    License
                  </a>
                </p>
                <p>
                  <a class="nav-link-footer" [routerLink]="['/privacy']">
                    Privacy Policy
                  </a>
                </p>
                <p>
                  <a class="nav-link-footer" [routerLink]="['/terms']">
                    Terms & Conditions
                  </a>
                </p>
                <p> <a class="nav-link-footer" [href]="linkContactUs"> Contact us </a> </p> <!-- Rota para pagina de contato via email-->
            </div>

        </div>
    </div>
</footer>
