<ngx-json-ld [json]="schema"></ngx-json-ld>

<ngx-json-ld [json]="schema_sample"></ngx-json-ld>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container-fluid cric-dashboard"
        id="dashboard">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <a class="btn btn-primary collapsed"
             title="Back to collection"
                    [routerLink]="['/classification']">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-collection" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
</svg>
            </a>

          <button class="btn btn-primary collapsed"
                  title="Download augmented image"
                    (click)="save_image()">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z"/>
  <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
  <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
</svg>
            </button>

          <button class="btn btn-primary collapsed"
                  title="Download all classifications as JSON"
                    (click)="save_json()">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
  <path fill-rule="evenodd" d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
</svg>
            </button>

          <button class="btn btn-primary collapsed"
                  title="Download all classifications as CSV"
                    (click)="save_csv()">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-spreadsheet" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
  <path fill-rule="evenodd" d="M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z"/>
  <path fill-rule="evenodd" d="M5 14V6h1v8H5zm4 0V6h1v8H9z"/>
</svg>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3"
                id="selecionador">
            <cr-image-info [image]="imagem"></cr-image-info>

            <div class="box_filter">
                <h5> Filter </h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text"
                                for="cellGroupSelect">Cell</label>
                    </div>
                    <select [(ngModel)]="indiceSelecionado"
                            (ngModelChange)="exibirClassificacoesFormaSeletiva(); cancelarAtualizacao()"
                            class="browser-default custom-select"
                            class="custom-select"
                            id="cellGroupSelect"
                            name="">

                        <option value="-1"
                                selected>
                            All cells
                        </option>

                        <option *ngFor="let celula of todasClassificacoes; let i = index "
                                [value]="i">
                            {{celula?.id_celula}} - {{celula?.lesao?.nome}}
                        </option>

                    </select>
                </div>
            </div>

            <div *ngIf="indiceSelecionado != -1"
                    class="box_info">

                <div *ngIf="!atualizarInformacoes">
                    <h5>
                        Nucleus Information
                    </h5>
                    <dl>
                        <!-- TODO Add Author
                        <dt>Author</dt>
                        <dd>
                            Cytology Laboratory,
                            Pharmacy School & Microscopy Facilities,
                            Biological Sciences Research Center,
                            Federal University of Ouro Preto
                        </dd>
                        -->

                        <dt>Lesion</dt>
                        <dd>{{todasClassificacoes[indiceSelecionado]?.lesao?.nome}}</dd>

                        <dt *ngIf="todasClassificacoes[indiceSelecionado]?.lesao?.detalhes">Details</dt>
                        <dd *ngIf="todasClassificacoes[indiceSelecionado]?.lesao?.detalhes">{{todasClassificacoes[indiceSelecionado]?.lesao?.nome}}</dd>
                    </dl>
                </div>

                <div *ngIf="atualizarInformacoes"
                        class="form-group">
                    <h5>
                        Nucleus Information
                    </h5>

                    <!-- TODO Add Author
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                    for="authorTextarea">Author</label>
                        </div>
                        <input readonly
                                type="text"
                                class="form-control"
                                id="authorTextarea"
                                aria-label="Author"
                                placeholder="Cytology Laboratory, Pharmacy School & Microscopy Facilities, Biological Sciences Research Center, Federal University of Ouro Preto">
                    </div>
                    -->

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                    for="input_lesao_atualizacao">Lesion</label>
                        </div>
                        <select [(ngModel)]="lesao.id"
                                class="browser-default custom-select"
                                id="input_lesao_atualizacao"
                                name="">

                            <option value="lesao?.id"
                                    selected></option>
                            <option *ngFor="let lesao of todasLesoes"
                                    [value]="lesao?.id">
                                {{lesao.nome}}
                            </option>

                        </select>
                    </div>
                </div>

                <div *ngIf="objetoSessao"
                        class="d-flex flex-row-reverse">
                    <div *ngIf="!atualizarInformacoes"
                            class="bd-highlight">
                        <button id="delete"
                                type="submit"
                                class="btn btn-danger"
                                (click)="excluitClassificacao(indiceSelecionado)">
                            Delete
                        </button>
                    </div>

                    <div *ngIf="!atualizarInformacoes"
                            class="bd-highlight">
                        <button id="update"
                                type="submit"
                                class="btn btn-warning"
                                (click)="solicitarAtualizacaoDeDados()">
                            Update
                        </button>
                    </div>

                    <div *ngIf="atualizarInformacoes"
                            class="bd-highlight">
                        <button id="save"
                                type="submit"
                                class="btn btn-primary"
                                (click)="atualizarClassificacao(indiceSelecionado)">
                            Save
                        </button>
                    </div>

                    <div *ngIf="atualizarInformacoes"
                            class="bd-highlight">
                        <button id="cancel"
                                type="submit"
                                class="btn btn-danger"
                                (click)="cancelarAtualizacao()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">
            <div *ngIf="imagem">
                <canvas id="canvas"
                        (click)="!objetoSessao || registrarPonto($event)"
                        [ngStyle]="{'background-image': 'url('+caminho_imagem+')'}"
                        width="{{imagem.largura}}"
                        height="{{imagem.altura}}">
                </canvas>
            </div>
        </div>

    </div>
</div>

<!-- Modal cadastrar classificação -->
<div class="modal fade"
        [ngClass]="(exibirModal === true)?'show':''"
        [ngStyle]="{display : (exibirModal === true)?'block':'none'}"
        id="modal-cadastrar-classificacao"
        tabindex="-1"
        role=" dialog">
    <div class="modal-dialog"
            role="document">
        <!-- inserir conteudo do modal -->
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title">Register classification</h5>
                <!-- fecha o modal -->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        (click)="exibirModal = false; indiceSelecionado = -1; exibirClassificacoesFormaSeletiva(); permitirCadastro(false)">
                    <span> x </span>
                </button>
            </div>

            <!-- Conteudo -->
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12"
                                *ngIf="todasLesoes">
                            <p>
                                Classify the cell based on Bethesda system:
                            </p>
                            <select [(ngModel)]="id_lesao"
                                    (ngModelChange)="permitirCadastro(true)"
                                    class="browser-default custom-select"
                                    id=""
                                    name="">

                                <option *ngFor="let lesao of todasLesoes; let i = index "
                                        [value]="lesao?.id">
                                    {{lesao.nome}}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rodape -->
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        name="action"
                        [disabled]="!permitirCadastroClassificacao"
                        (click)="cadastrarClassificacao(); permitirCadastro(true)">
                    Save classification
                </button>
            </div>
        </div>
    </div>
</div>
