<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container-fluid cric-dashboard"
        id="dashboard">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a class="btn btn-primary collapsed"
                    [routerLink]="['/classification']">
                Return to list of images
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3"
                id="selecionador">

            <cr-image-info [image]="imagem"></cr-image-info>

            <div class="box_filter">
                <h5> Filter </h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text"
                                for="cellGroupSelect">Cell</label>
                    </div>
                    <select [(ngModel)]="indiceSelecionado"
                            (ngModelChange)="exibirClassificacoesFormaSeletiva(); cancelarAtualizacao()"
                            class="browser-default custom-select"
                            class="custom-select"
                            id="cellGroupSelect"
                            name="">

                        <option value="-1"
                                selected>
                            All cells
                        </option>

                        <option *ngFor="let celula of todasClassificacoes; let i = index "
                                [value]="i">
                            {{celula?.id_celula}} - {{celula?.lesao?.nome}}
                        </option>

                    </select>
                </div>
            </div>

            <div *ngIf="indiceSelecionado != -1"
                    class="box_info">

                <div *ngIf="!atualizarInformacoes">
                    <h5>
                        Nucleus Information
                    </h5>
                    <dl>
                        <dt>Author</dt>
                        <dd>
                            Cytology Laboratory,
                            Pharmacy School & Microscopy Facilities,
                            Biological Sciences Research Center,
                            Federal University of Ouro Preto
                        </dd>

                        <dt>Lesion</dt>
                        <dd>{{todasClassificacoes[indiceSelecionado]?.lesao?.nome}}</dd>

                        <dt *ngIf="todasClassificacoes[indiceSelecionado]?.lesao?.detalhes">Details</dt>
                        <dd *ngIf="todasClassificacoes[indiceSelecionado]?.lesao?.detalhes">{{todasClassificacoes[indiceSelecionado]?.lesao?.nome}}</dd>
                    </dl>
                </div>

                <div *ngIf="atualizarInformacoes"
                        class="form-group">
                    <h5>
                        Nucleus Information
                    </h5>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                    for="authorTextarea">Author</label>
                        </div>
                        <input readonly
                                type="text"
                                class="form-control"
                                id="authorTextarea"
                                aria-label="Author"
                                placeholder="Cytology Laboratory, Pharmacy School & Microscopy Facilities, Biological Sciences Research Center, Federal University of Ouro Preto">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                    for="input_lesao_atualizacao">Lesion</label>
                        </div>
                        <select [(ngModel)]="lesao.id"
                                class="browser-default custom-select"
                                id="input_lesao_atualizacao"
                                name="">

                            <option value="lesao?.id"
                                    selected></option>
                            <option *ngFor="let lesao of todasLesoes"
                                    [value]="lesao?.id">
                                {{lesao.nome}}
                            </option>

                        </select>
                    </div>
                </div>

                <div *ngIf="objetoSessao"
                        class="d-flex flex-row-reverse">
                    <div *ngIf="!atualizarInformacoes"
                            class="bd-highlight">
                        <button id="delete"
                                type="submit"
                                class="btn btn-danger"
                                (click)="excluitClassificacao(indiceSelecionado)">
                            Delete
                        </button>
                    </div>

                    <div *ngIf="!atualizarInformacoes"
                            class="bd-highlight">
                        <button id="update"
                                type="submit"
                                class="btn btn-warning"
                                (click)="solicitarAtualizacaoDeDados()">
                            Update
                        </button>
                    </div>

                    <div *ngIf="atualizarInformacoes"
                            class="bd-highlight">
                        <button id="save"
                                type="submit"
                                class="btn btn-primary"
                                (click)="atualizarClassificacao(indiceSelecionado)">
                            Save
                        </button>
                    </div>

                    <div *ngIf="atualizarInformacoes"
                            class="bd-highlight">
                        <button id="cancel"
                                type="submit"
                                class="btn btn-danger"
                                (click)="cancelarAtualizacao()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">
            <div *ngIf="imagem">
                <canvas id="canvas"
                        (click)="!objetoSessao || registrarPonto($event)"
                        [ngStyle]="{'background-image': 'url('+caminho_imagem+')'}"
                        width="{{imagem.largura}}"
                        height="{{imagem.altura}}">
                </canvas>
            </div>
        </div>

    </div>
</div>

<!-- Modal cadastrar classificação -->
<div class="modal fade"
        [ngClass]="(exibirModal === true)?'show':''"
        [ngStyle]="{display : (exibirModal === true)?'block':'none'}"
        id="modal-cadastrar-classificacao"
        tabindex="-1"
        role=" dialog">
    <div class="modal-dialog"
            role="document">
        <!-- inserir conteudo do modal -->
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title">Register classification</h5>
                <!-- fecha o modal -->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        (click)="exibirModal = false; indiceSelecionado = -1; exibirClassificacoesFormaSeletiva(); permitirCadastro(false)">
                    <span> x </span>
                </button>
            </div>

            <!-- Conteudo -->
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12"
                                *ngIf="todasLesoes">
                            <p>
                                Classify the cell based on Bethesda system:
                            </p>
                            <select [(ngModel)]="id_lesao"
                                    (ngModelChange)="permitirCadastro(true)"
                                    class="browser-default custom-select"
                                    id=""
                                    name="">

                                <option *ngFor="let lesao of todasLesoes; let i = index "
                                        [value]="lesao?.id">
                                    {{lesao.nome}}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rodape -->
            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        name="action"
                        [disabled]="!permitirCadastroClassificacao"
                        (click)="cadastrarClassificacao(); permitirCadastro(true)">
                    Save classification
                </button>
            </div>
        </div>
    </div>
</div>
