@import '../../../sass/variables';

canvas{
    width:100%;
    height:100%;
    background-size: contain;
    display: block;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}

.image_info {
    font-size: 0.9rem;
    color: $text-black;

    h5,
    p {
        margin-bottom: 0px;
    }
    
    span {
        font-weight: bold;
    }

    .btn:not(.collapsed) span.collapse-on {
        display: none;
    }

    .btn.collapsed span.collapse-off {
        display: none;
    }
}

.box_info {
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 0.9rem;

    h5,
    p {
        margin-bottom: 0px;
    }
    
    span {
        font-weight: bold;
    }
}
