<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">

    <h1>Cervix Collection: Classification</h1>

    <div *ngIf="playground"
            class="alert alert-warning"
            role="alert">
        This is the playground.
        Visit <a href="http://database.cric.com.br"
                class="alert-link">database.cric.com.br</a> for the more data.
    </div>

    <p>
        The images represent the cytopathology of the uterine cervix
        using the conventional smear (Pap smear).
        The epithelial cell abnormalities (lesion)
        are addressed in six classes
        according to <a href="https://screening.iarc.fr/atlasclassifbethesda.php">Bethesda system</a>.
    </p>
    <p>
        Click the image
        to zoom
        and
        have access to cell classification.
        Each image has annotations for each nucleus
        which are represented by bounding boxes (100pixels x 100pixels).
    </p>

    <cr-listar-cards-imagem [todasImagens]="todasImagens"
            [classificationDatabase]="classificationDatabase"
            #atualizarPaginacaoViewChild>
    </cr-listar-cards-imagem>

</div>
