<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>
<div class="container">

    <h1>Cervix Collection: Classification</h1>
    <p>
        The images represent the cytopathology of the uterine cervix
        using the conventional smear (Pap smear).
        The epithelial cell abnormalities (lesion)
        are addressed in six classes
        according to <a href="https://screening.iarc.fr/atlasclassifbethesda.php">Bethesda system</a>.
    </p>
    <p>
        Click the image
        to zoom
        and
        have access to cell classification.
        Each image has annotations for each nuclei
        which are represented by bounding boxes (100pixels x 100pixels).
    </p>

    <p>
        <a *ngIf="objetoSessao"
                href="#"
                data-toggle="modal"
                data-target="#modal-cadastro-imagem"
                class="nav-link">
            Cadastrate new image
        </a>
    </p>

    <cr-listar-cards-imagem [todasImagens]="todasImagens"
            [classificationDatabase]="classificationDatabase"
            #atualizarPaginacaoViewChild>
    </cr-listar-cards-imagem>

</div>

<!-- Modal Cadastrar Imagem(Cadastrar) -->
<cr-cadastrar-imagem (novaImagemCadastradaEventEmiter)="atualizarListaImagens($event)">
</cr-cadastrar-imagem>
