<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-lignt">

        <a class="nav-link navbar-brand" [routerLink]="['']">
            <img class="img-responsive logoIndexHeader" src="./assets/img/logo/logoHeader.png" alt="Logotipo - CRIC Center for Recognition and Inspection of Cells">
        </a>

        <!-- Botão para esconder e exibir o menu em telas menores -->
        <button *ngIf="usuarioAutenticado" class="navbar-toggler"
        type="button" data-toggle="collapse" data-target="#navbar_id">
            <span class="navbar-toggler-icon">
            </span>
        </button>

        <div *ngIf="usuarioAutenticado" class="collapse navbar-collapse estilo-personalizado-menu" id="navbar_id">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/segmentation_database']">Segmentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/classification_database']">Classification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/downloads']">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/publications']">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/atlas']">Atlas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link sair" (click)="fazerLogOut($event)">Leave</a>
                </li>
            </ul>
        </div>

        <div *ngIf="!usuarioAutenticado" class="col-sm-3 col-md-3 col-lg-8"></div>
        <div *ngIf="!usuarioAutenticado" class="col-sm-3 col-md-3 col-lg-2" >
            <ul class="navbar-nav">
                <a href="#" data-toggle="modal" data-target="#modal-login" class="nav-link entrar" >
                    Login
                </a>
        
                <a href="#" data-toggle="modal" data-target="#modal-cadastro-visitante" class="nav-link entrar" >
                    Register as visitor
                </a>
            </ul>
        </div>
    </nav>
</header>

<!-- Modal login(Entrar) -->
<div class="modal fade" id="modal-login" tabindex="-1" role=" dialog">
    <div class="modal-dialog" role="document">
        <!-- inserir conteudo do modal -->
        <cr-login></cr-login>
    </div>
</div>

<!-- Modal sigin(Cadastrar) -->
<div class="modal fade" id="modal-cadastro-visitante" tabindex="-1" role=" dialog">
    <div class="modal-dialog" role="document">
        <!-- inserir conteudo do modal -->
        <cr-cadastro-visitante></cr-cadastro-visitante>
    </div>
</div>