    <h2 id="cite-us">Cite us</h2>
    <!-- Bootstrap Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active"
                    data-toggle="tab"
                    href="#mla">MLA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#apa">APA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#chicago">Chicago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#abnt">ABNT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#bibtex">BibTeX</a>
        </li>
    </ul>

    <!-- Bootstrap Tab panes -->
    <div class="tab-content cite-panes">
        <div class="tab-pane container active"
                id="mla">
                Carneiro, Claudia Martins et al.. “CRIC Cervix Cell Classification”. 1 May 2020. Web. 1 May 2020. &lt;https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/1&gt;.
        </div>
        <div class="tab-pane container fade"
                id="apa">
                Carneiro, C. M., Rezende, M. T., Tobias, A. H. G., & Silva, R.. (2020). CRIC Cervix Cell Classification. doi: 10.6084/m9.figshare.c.4960286.v1
        </div>
        <div class="tab-pane container fade"
                id="chicago">
                Carneiro, Claudia Martins, Mariana Trevisan Rezende, Alessandra Hermógenes Gomes Tobias, and Raniere Silva. “CRIC Cervix Cell Classification”. figshare, May 1, 2020. https://doi.org/10.6084/m9.figshare.c.4960286.v1.
        </div>
        <div class="tab-pane container fade"
                id="abnt">
                CARNEIRO, C. M. et al.. CRIC Cervix Cell Classificationfigshare, , 1 maio 2020. Disponível em: &lt;https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/1&gt;. Acesso em: 1 maio. 2020
        </div>
        <div class="tab-pane container fade"
                id="bibtex">
            <pre><code>@misc&#123;cric_cervix,
title="CRIC Cervix Cell Classification",
url="https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/1",
DOI="10.6084/m9.figshare.c.4960286.v1",
abstractNote="400 images from microscope slides of the uterine cervix using the conventional smear (Pap smear) and the epithelial cell abnormalities classified according to Bethesda system. Data visualisation available at http://database.cric.com.br/.",
publisher="figshare",
author="Carneiro, Claudia Martins and Rezende, Mariana Trevisan and Tobias, Alessandra Hermógenes Gomes and Silva, Raniere",
year="2020",
month="May"
&#125;</code></pre>
        </div>
    </div>
