    <h2 id="cite-us">Cite us</h2>
    <!-- Bootstrap Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active"
                    data-toggle="tab"
                    href="#datacite">DataCite</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#mla">MLA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#apa">APA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#chicago">Chicago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#abnt">ABNT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
                    data-toggle="tab"
                    href="#bibtex">BibTeX</a>
        </li>
    </ul>

    <!-- Bootstrap Tab panes -->
    <div class="tab-content cite-panes">
        <div class="tab-pane container active"
                id="datacite">
            Rezende, Mariana Trevisan; Tobias, Alessandra Hermógenes Gomes; Silva, Raniere; Oliveira, Paulo; Sombra de Medeiros, Fatima; Ushizima, Daniela; et al. (2020): CRIC Cervix Cell Classification. figshare. Collection. https://doi.org/10.6084/m9.figshare.c.4960286.v2
        </div>
        <div class="tab-pane container"
                id="mla">
            Rezende, M. T., et al.. CRIC Cervix Cell Classification. 2, figshare, 1 May 2020, doi:10.6084/m9.figshare.c.4960286.v2.
        </div>
        <div class="tab-pane container fade"
                id="apa">
            Rezende, M. T., Tobias, A. H. G., Silva, R., Oliveira, P., Sombra de Medeiros, F., Ushizima, D., … Bianchi, A. G. C.. (2020). CRIC Cervix Cell Classification. doi: 10.6084/m9.figshare.c.4960286.v2
        </div>
        <div class="tab-pane container fade"
                id="chicago">
            Rezende, Mariana Trevisan, Alessandra Hermógenes Gomes Tobias, Raniere Silva, Paulo Oliveira, Fatima Sombra de Medeiros, Daniela Ushizima, Claudia Martins Carneiro, and Andrea Gomes Campos Bianchi. “CRIC Cervix Cell Classification”. figshare, May 1, 2020. https://doi.org/10.6084/m9.figshare.c.4960286.v2.
        </div>
        <div class="tab-pane container fade"
                id="abnt">
            REZENDE, M. T. et al.. CRIC Cervix Cell Classificationfigshare, , 1 maio 2020. . Disponível em: &lt;https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/2&gt;.. Acesso em: 15 maio. 2020.
        </div>
        <div class="tab-pane container fade"
                id="bibtex">
            <pre><code>@misc&#123;cric_cervix,
title="CRIC Cervix Cell Classification",
url="https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/2",
DOI="10.6084/m9.figshare.c.4960286.v2",
abstractNote="400 images from microscope slides of the uterine cervix using the conventional smear (Pap smear) and the epithelial cell abnormalities classified according to Bethesda system. Data visualisation available at http://database.cric.com.br/.",
publisher="figshare",
author="Rezende, Mariana Trevisan and Tobias, Alessandra Hermógenes Gomes and Silva, Raniere and Oliveira, Paulo and Sombra de Medeiros, Fatima and Ushizima, Daniela and Carneiro, Claudia Martins and Bianchi, Andrea Gomes Campos",
year="2020",
month="May"
&#125;</code></pre>
        </div>
    </div>
