<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">

    <div *ngIf="!new_image_uploaded">
        <h1>Upload New Image</h1>

        <div *ngIf="playground"
             class="alert alert-warning"
             role="alert">
          This is the playground.
          We reset the data every 24 hours.
          Use <a href="http://database.cric.com.br"
                   class="alert-link">database.cric.com.br</a> to store your
             data safely.
        </div>

        <form [formGroup]="formularioImagem"
                id="formularioImagem">

            <div class="form-group">
                <label id="arquivo_imagem_label"
                        for="arquivo_imagem"
                        class="activate">Upload image</label>
                <input type="file"
                        class="form-control"
                        id="arquivo_imagem"
                        accept="image/*"
                        (change)="tratarUpload($event)">
            </div>

            <div class="form-group">
                <label for="codigo_lamina"
                        class="activate"> Microscope slide's code </label>
                <input type="text"
                        class="form-control"
                        id="codigo_lamina"
                        formControlName="codigo_lamina"
                        placeholder="Enter the code">
                <small id="codigo_laminaHelp"
                        class="form-text text-muted">
                    For example, 123.
                    else.
                </small>

                <div *ngIf="(!codigo_lamina.pristine && codigo_lamina.errors) || (codigo_lamina.errors && codigo_lamina.touched)">
                    <p *ngIf="codigo_lamina.errors.required">
                        Microscope slide's code is required
                    </p>
                    <p *ngIf="codigo_lamina.errors.minlength">
                        Microscope slide must have at least 3 characters
                    </p>
                </div>

            </div>

            <div class="form-group">
                <label for="dt_aquisicao"
                        class="activate">
                    Date of microscope slide creation
                </label>
                <input type="date"
                        class="form-control"
                        id="dt_aquisicao"
                        formControlName="dt_aquisicao"
                        placeholder="data de aquisicao">

                <div *ngIf="(!dt_aquisicao.pristine && dt_aquisicao.errors) || (dt_aquisicao.errors && dt_aquisicao.touched)">
                    <p *ngIf="dt_aquisicao.errors.required">
                        Date of microscope slide creationAcquisition Date
                    </p>
                </div>
            </div>

            <div>
                <button type="submit"
                        class="btn btn-primary btn-lg btn-block"
                        data-dismiss="modal"
                        (click)="solicitarCadastroImagem()"
                        [disabled]="(!formularioImagem.valid || !arquivoSelecionado) && !carregando">
                    <span *ngIf="!carregando">
                        Send
                    </span>
                    <span *ngIf="carregando">
                        Storing image
                    </span>
                    <span *ngIf="carregando"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"></span>
                </button>
            </div>

        </form>
    </div>
    <div *ngIf="new_image_uploaded">
        <h1>New Image</h1>
        <img src="{{ new_image_path }}">

        <cr-image-info [image]="new_image"></cr-image-info>
        <h2>Next Steps</h2>
        <div class="row">
            <div class="col"
                    (click)="go2segmentation($event)">
                <a class="btn btn-primary btn-lg btn-block"
                        href="{{segmentation_url()}}"
                        role="button">Segmentation</a>
            </div>
            <div class="col"
                    (click)="go2classification($event)">
                <a class="btn btn-primary btn-lg btn-block"
                        href="{{classification_url()}}"
                        role="button">Classification</a>
            </div>
        </div>
    </div>
</div>
