<ngx-json-ld [json]="schema"></ngx-json-ld>

<ngx-json-ld [json]="schema_sample"></ngx-json-ld>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container-fluid cric-dashboard"
        id="dashboard">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <a class="btn btn-primary collapsed"
                    title="Back to collection"
                    [routerLink]="['/segmentation']">
                <svg width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-collection"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                            d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z" />
                </svg>
            </a>

            <button class="btn btn-primary collapsed"
                    title="Download augmented image"
                    disabled
                    (click)="save_image()">
                <svg width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-image"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                            d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z" />
                    <path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
                    <path fill-rule="evenodd"
                            d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                </svg>
            </button>

            <button class="btn btn-primary collapsed"
                    title="Download all classifications as JSON"
                    disabled
                    (click)="save_json()">
                <svg width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-text"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                            d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                    <path fill-rule="evenodd"
                            d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>

            <button class="btn btn-primary collapsed"
                    title="Download all classifications as CSV"
                    disabled
                    (click)="save_csv()">
                <svg width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-file-spreadsheet"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                            d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                    <path fill-rule="evenodd"
                            d="M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z" />
                    <path fill-rule="evenodd"
                            d="M5 14V6h1v8H5zm4 0V6h1v8H9z" />
                </svg>
            </button>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">
            <h5>Segmentation <span class="beta">Beta</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3"
                id="selecionador">
            <div *ngIf="playground"
                    class="alert alert-warning alert-dismissible fade show"
                    role="alert">
                This is the playground.
                We reset the data every 24 hours.
                Use <a href="http://database.cric.com.br"
                        class="alert-link">database.cric.com.br</a> to store your
                data safely.
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <cr-image-info [image]="imagem"></cr-image-info>

            <div class="box_filter">
                <h5> Filter </h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text"
                                for="segmentationGroupSelect">Segmentation</label>
                    </div>
                    <select [(ngModel)]="indiceSelecionado"
                            (ngModelChange)="exibirSegmentacaoFormaSeletiva()"
                            class="browser-default custom-select"
                            class="custom-select"
                            id="segmentationGroupSelect"
                            name="">

                        <option value="-1"
                                selected>
                            All segmentations
                        </option>

                        <option *ngFor="let celulaSegmentada of todasSegmentacoes?.celulas; let i = index "
                                [value]="i">
                            {{celulaSegmentada?.id}} - {{celulaSegmentada?.descricao?.nome}}
                        </option>
                    </select>
                </div>

                <button id="label-button"
                        type="submit"
                        class="btn btn-block"
                        [ngClass]="rotulo?'btn-primary':'btn-secondary'"
                        [disabled]="indiceSelecionado!=-1"
                        (click)="dasabilitarRotulo()">
                    {{rotulo ? 'Disable label' : 'Enable label'}}
                </button>
            </div>


            <div *ngIf="indiceSelecionado != -1"
                    class="box_info">

                <h5> Segmentation information </h5>
                <p><span> Description Id:</span>
                    {{descricao.id}}
                </p>

                <p><span> Description name: </span>
                    {{descricao.nome}}
                </p>

                <p><span> Description code: </span>
                    {{descricao.codigo}}
                </p>

                <p><span> Description details: </span>
                    {{descricao.detalhes}}
                </p>

                <div *ngIf="objetoSessao"
                        class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2 bd-highlight">
                        <button type="submit"
                                class="btn btn-danger"
                                (click)="excluitSegmentacao(indiceSelecionado)">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">
            <div *ngIf="imagem">
                <canvas id="canvas"
                        (click)="!objetoSessao || iniciarSegmentacao()"
                        width="{{imagem.largura}}"
                        height="{{imagem.altura}}"
                        onfocus
                        [ngStyle]="{'background-image': 'url('+caminho_imagem+')','background-repeat': 'no-repeat', 'height': 'auto'}">
                </canvas>
            </div>
        </div>
    </div>
</div>

<!-- Modal cadastrar segmentacao -->
<div class="modal fade"
        [ngClass]="(obterEstadoModal() === true)?'show':''"
        [ngStyle]="{display : (obterEstadoModal() === true)?'block':'none'}"
        id="modal-cadastrar-segmentacao"
        tabindex="-1"
        role=" dialog">

    <div class="modal-dialog"
            role="document">
        <!-- inserir conteudo do modal -->
        <div class="modal-content">

            <!-- Cabeçalho -->
            <div class="modal-header">
                <h5 class="modal-title">Register segmentation</h5>
                <!-- fecha o modal -->
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        (click)="definirEstadoModal(false);
                    permitirCadastro(false);
                    desfazerSegmentacao();
                    exibirSegmentacaoFormaSeletiva();
                    limparVetorSelecaoDescricao();
                    limparTodasSegmentacoes();
                    codigoDescricao[0] = -1">
                    <span>x</span>
                </button>
            </div>

            <!-- Conteudo -->
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12"
                                *ngIf="todasDescricoes">

                            <!-- Solicitar segmentacao do citoplasma -->
                            <div *ngIf="(vetorDePontos.length != 2)">
                                <p>
                                    Make a description to this segmentation.
                                </p>

                                <div class="form-group"
                                        *ngIf="vetorSelecaoDescricao[0]">
                                    <select [(ngModel)]="codigoDescricao[0]"
                                            class="browser-default custom-select"
                                            name=""
                                            (change)="atualizarVetorDescricao(1)">
                                        <option [value]="-1"
                                                hidden></option>
                                        <option *ngFor="let descricao of vetorSelecaoDescricao[0]; let i = index "
                                                [value]="descricao.codigo">
                                            {{descricao.nome}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group"
                                        *ngIf="(vetorSelecaoDescricao[1] && codigoDescricao[0]?.toString().length >= 1)">
                                    <div *ngIf="(vetorSelecaoDescricao[1].length > 0)">
                                        <select [(ngModel)]="codigoDescricao[1]"
                                                class="browser-default custom-select"
                                                (change)="atualizarVetorDescricao(2)"
                                                id=""
                                                name="">
                                            <option *ngFor="let descricao of vetorSelecaoDescricao[1]; let i = index "
                                                    [value]="descricao.codigo">
                                                {{descricao.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                        *ngIf="(vetorSelecaoDescricao[2] && codigoDescricao[1]?.toString().length >= 2)">
                                    <div *ngIf="(vetorSelecaoDescricao[2].length > 0)">
                                        <select [(ngModel)]="codigoDescricao[2]"
                                                class="browser-default custom-select"
                                                id=""
                                                name=""
                                                (change)="atualizarVetorDescricao(3)">
                                            <option *ngFor="let descricao of vetorSelecaoDescricao[2]; let i = index "
                                                    [value]="descricao.codigo">
                                                {{descricao.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                        *ngIf="(vetorSelecaoDescricao[3] && codigoDescricao[2]?.toString().length >= 3)">
                                    <div *ngIf="(vetorSelecaoDescricao[3].length > 0)">
                                        <select [(ngModel)]="codigoDescricao[3]"
                                                class="browser-default custom-select"
                                                id=""
                                                name=""
                                                (change)="atualizarVetorDescricao(4)">
                                            <option *ngFor="let descricao of vetorSelecaoDescricao[3]; let i = index "
                                                    [value]="descricao.codigo">
                                                {{descricao.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                        *ngIf="(vetorSelecaoDescricao[4] && codigoDescricao[3]?.toString().length >= 4)">
                                    <div *ngIf="(vetorSelecaoDescricao[4].length > 0)">
                                        <select [(ngModel)]="codigoDescricao[4]"
                                                class="browser-default custom-select"
                                                id=""
                                                name=""
                                                (change)="atualizarVetorDescricao(5)">
                                            <option *ngFor="let descricao of vetorSelecaoDescricao[4]; let i = index "
                                                    [value]="descricao.codigo">
                                                {{descricao.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                        *ngIf="(vetorSelecaoDescricao[5] && codigoDescricao[4]?.toString().length >= 5)">
                                    <div *ngIf="(vetorSelecaoDescricao[5].length > 0)">
                                        <select [(ngModel)]="codigoDescricao[5]"
                                                class="browser-default custom-select"
                                                id=""
                                                name=""
                                                (change)="atualizarVetorDescricao(6)">
                                            <option *ngFor="let descricao of vetorSelecaoDescricao[5]; let i = index "
                                                    [value]="descricao.codigo">
                                                {{descricao.nome}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <!-- Solicitar segmentação do citoplasma -->
                            <div *ngIf="(vetorDePontos.length == 2)">
                                <p>
                                    The Nucleus was segmented.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rodape -->
            <div class="modal-footer">

                <!-- Botão de salvar a segmentação de estruturas sem nucleo -->
                <div [ngStyle]="{display : (vetorDePontos.length == 1 && (codigoDescricao.toString()[0] != '1'))?'block':'none'}">
                    <button type="submit"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            name="action"
                            [disabled]="!permitirCadastroSegmentacao"
                            (click)="definirEstadoModal(false);
                        permitirCadastro(false);
                        cadastrarSegmentacaoElementoAnucleado(false);
                        limparTodasSegmentacoes();
                        codigoDescricao[0] = -1">
                        Save element segmentation
                    </button>
                </div>

                <!-- Botão de liberação de segmentacao do citoplasma -->
                <div [ngStyle]="{display : (vetorDePontos.length == 1 && (codigoDescricao.toString()[0] == '1'))?'block':'none'}">
                    <button type="submit"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            name="action"
                            [disabled]="!permitirCadastroSegmentacao"
                            (click)="definirEstadoModal(false);
                        validarSegmetacaoDoCitoplasma()">
                        Save cytoplasm segmentation
                    </button>
                </div>

                <!-- Botão de salvar a segmentação de estruturas com nucleo -->
                <div [ngStyle]="{display : (vetorDePontos.length == 2)?'block':'none'}">
                    <button type="submit"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            name="action"
                            [disabled]="!permitirCadastroSegmentacao"
                            (click)="definirEstadoModal(false);
                        cadastrarSegmentacao(true);
                        limparVetorSelecaoDescricao();
                        permitirCadastro(false);
                        limparTodasSegmentacoes();
                        codigoDescricao[0] = -1">
                        Save Segmentation data set
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
