@import '../../../sass/variables';

h5 {
    span.beta {
        color: $cric-red;
    }
}

.image_info,
.box_filter,
.box_info {
    font-size: 0.9rem;
    color: $text-black;

    h5,
    p,
    dl,
    dt,
    dd {
        margin-bottom: 0px;
    }

    dt {
        float: left;

        &::after {
            content: ": ";
            white-space: pre;
        }
    }

    .bd-highlight + .bd-highlight {
        margin-right: 1vw;
    }
}

.image_info {
    .btn:not(.collapsed) span.collapse-on {
        display: none;
    }

    .btn.collapsed span.collapse-off {
        display: none;
    }
}

.box_filter {
    label,
    option {
        font-size: 0.9rem;
    }
}
