<div class="container-fluid">
    <div class="row">
        <div class="formatacao-conteudo-pagina formatacao-pagina-about">
            
            <h3>About CRIC</h3>
            <hr>          

            <p>
                CRIC Searchable Image Database is one of the “products” from a multidisciplinary team of researchers from computer science and biology.
            </p>

            <p>
                The Database is a collection of real images from human cervix representing a range of different lesions in cervical cells interpreted by independent cytopathologists. The database will be able to provide information about individual cell segmentation, classification or both.
            </p>

            <p>
                The database is also a dynamic environment since it has web applications for hand label segmentation and classification from specialists. The application permits upload images, segment, classify and save information, keeping the database in movement.
                Guest area will provide free access to image segmentation example and classification database for 400 images. Image segmentation database will be available soon.
            </p>
            <br>

            <h3>Cervical Cell Information</h3>
            <p>
                The images were obtained using a xx microscopy under xx of 40x
            </p>

            <figure>
                <img src="./assets/img/pagina_about/ephithelium.jpg" alt="ephithelium"
                    class="img-responsive">
                <figcaption>
                    No one description to this picture.
                </figcaption>
            </figure>

            <figure>
                <img src="./assets/img/pagina_about/non_ephithelium.jpg" alt="non_ephithelium"
                    class="img-responsive">
                <figcaption>
                    No one description to this picture.
                </figcaption>
            </figure>
            
        </div>
    </div>
</div>