<div class="container-fluid">
    <div class="row">
        <div class="formatacao-conteudo-pagina formatacao-pagina-about">
            
            <h3>About CRIC</h3>  

            <p>
                CRIC Searchable Image Database
                is one of the “products” from a multidisciplinary team of researchers
                from computer science and biology.
            </p>

            <p>
                The Database is a collection of real images
                from human cervix representing a range of different lesions
                in cervical cells interpreted by independent cytopathologists.
                The database will be able to provide information
                about individual cell segmentation, classification or both.
            </p>

            <p>
                The database is also a dynamic environment
                since it has web applications for hand label segmentation
                and classification from specialists.
                The application permits upload images, segment, classify
                and save information, keeping the database in movement.
                Guest area will provide free access to image segmentation example
                and classification database for 400 images.
                Image segmentation database will be available soon.
            </p>

            <h3>Cite us</h3>
            <mat-tab-group>
                <mat-tab label="mla">
                    <h1>MLA</h1>
                    <p>CRIC</p>
                </mat-tab>
                <mat-tab label="bibtex">
                    <h1>BibTeX</h1>
                    <p>CRIC</p>
                </mat-tab>
            </mat-tab-group>
            
        </div>
    </div>
</div>