<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">

    <h1>About CRIC Searchable Image Database</h1>

    <p>
        Center for Recognition and Inspection of Cells (CRIC) Searchable Image Database
        is one of the products from a multidisciplinary team of researchers
        from computer science and biology.
    </p>

    <p>
        The database is a collection of real images
        representing a range of different lesions
        in cells interpreted by independent experts.
        The database has information
        about image diagnostic
        and individual cell classification.
    </p>

    <h2>CRIC Searchable Image Database Collections</h2>

    <ul>
        <li>
            <a [routerLink]="['/classification']">
                Cervix
            </a>
        </li>
    </ul>

    <p>
        More collections will be added in the future.
    </p>

    <h2>CRIC Searchable Image Database Documentation</h2>

    <p>User and developer documentation is available at
      <a href="https://cric-database.readthedocs.io/">Read the Docs</a>.
    </p>

    <cr-cite-us></cr-cite-us>
</div>
