<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">Access the platform</h5>
        <button #login_close
                type="button"
                class="close"
                (click)="ngOnInit()"
                data-dismiss="modal">
            <span>x</span>
        </button>
    </div>

    <div class="modal-body">
        <div *ngIf="reset_password_complete"
                class="alert alert-success"
                role="alert">
            We emailed your news password. Check your inbox.
        </div>
        <div id="login"
                *ngIf="!reset_password_view && !sign_up_view"
                class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label for="email-login"
                            class="activate">E-mail</label>
                    <input [(ngModel)]="usuarioLogin.email"
                            type="text"
                            value=""
                            id="email-login"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Username isn't correct.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="senha-login"
                            class="activate">Password</label>
                    <input [(ngModel)]="usuarioLogin.senha"
                            type="password"
                            value=""
                            id="senha-login"
                            [class.is-invalid]="is_invalid"
                            class="form-control"
                            (keydown.enter)="sign_in()">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Password isn't correct.
                    </div>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    name="action"
                    (click)="sign_in()">
                Login
            </button>
            <button class="btn btn-link"
                    name="action"
                    (click)="ask2reset_password()">
                Forgot password
            </button>
            <button class="btn btn-link"
                    name="action"
                    (click)="ask2sign_up()">
                Sign Up
            </button>
        </div>

        <div id="reset"
                *ngIf="reset_password_view"
                class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label for="email-login"
                            class="activate">E-mail</label>
                    <input [(ngModel)]="usuarioLogin.email"
                            type="text"
                            value=""
                            id="email-login"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Username isn't correct.
                    </div>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    name="action"
                    (click)="reset_password()">
                Reset password
            </button>
        </div>

        <div id="sign_up"
                *ngIf="sign_up_view"
                class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label for="new-user-name"
                            class="activate">Name</label>
                    <input [(ngModel)]="new_user.primeiro_nome"
                            type="text"
                            value=""
                            id="new-user-name"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Name isn't correct.
                    </div>

                    <label for="new-user-family-name"
                            class="activate">Family Name</label>
                    <input [(ngModel)]="new_user.ultimo_nome"
                            type="text"
                            value=""
                            id="new-user-family-name"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Family name isn't correct.
                    </div>

                    <label for="new-user-email"
                            class="activate">E-mail</label>
                    <input [(ngModel)]="new_user.email"
                            type="text"
                            value=""
                            id="new-user-email"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        E-mail isn't correct.
                    </div>

                    <label for="new-user-password"
                            class="activate">Password</label>
                    <input [(ngModel)]="new_user.senha"
                            type="password"
                            value=""
                            id="new-user-password"
                            [class.is-invalid]="is_invalid"
                            class="form-control">
                    <div *ngIf="is_invalid"
                            class="invalid-feedback">
                        Password isn't correct.
                    </div>
                </div>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    name="action"
                    (click)="sign_up()">
                Sign Up
            </button>
        </div>
    </div>

</div>
