<div class="container">
    <h2> CRIC Searchable Image Database </h2>

    <p>
        <b>CRIC Searchable Image Database</b> is a public cervical cell image database aiming supporting cervical cancer
        analysis of Pap smear. We have collected hundreds of hand labeled segmentation and classification of cervical
        cells from 4 (four) human specialists (pathologists). The database is a collaborative work among Federal
        University of Ouro Preto, Federal University of Ceará and University of California-Berkeley.
    </p>

    <p>
        We hope CRIC Searchable Image Database will become a useful resource for cervical cancer investigation and may
        help physicians to provide a healthier life for women worldwide.
    </p>

    <p>
        Supported by CNPq Ciência sem Fronteiras, Fapemig and Capes.
    </p>

</div>