<div class="container">
    <h2> CRIC Searchable Image Database </h2>

    <p>
        Center for Recognition and Inspection of Cells (CRIC) Searchable Image Database
        is a public cell image database.
        We have collected hundreds cell images
        and
        hand labeled classify thousants of cells,
        visit our
        <a [routerLink]="['/classification']">
            Classification page
        </a>
        to see the images and the classifications.
    </p>

    <p>
        We hope
        CRIC Searchable Image Database
        will become a useful resource for cancer investigation
        and
        help physicians to provide a healthier life for people worldwide.
    </p>

</div>
