.formatacao-pagina-index{
    margin-bottom: 0vh
}

.quadro-index{
    background-color: #eeeeee;
    padding: 3rem 2rem 3rem 2rem;
    border-radius: 4px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .quadro-index{
        background-color: #eeeeee;
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 4px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .quadro-index{
        background-color: #eeeeee;
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 4px;
        margin-bottom: 20vh;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .quadro-index{
        background-color: #eeeeee;
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 4px;
        margin-bottom: 40vh;
    }
}

/* Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
    .quadro-index{
        background-color: #eeeeee;
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 4px;
        margin-bottom: 34vh;
    }
    
}